<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.toddsgotapen.simple-crm</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>13A07A42-59B2-41D3-8882-AA61FAC8E1D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D2BDA87-90F7-4FC4-886F-D61E51808AB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>189F166B-CDC9-45AD-8F62-9A8B1BE9FFA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4280409-DA48-4C05-8A73-5688E2A9F94A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F98EE783-8286-4763-B6F5-A34D6D520C03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13A07A42-59B2-41D3-8882-AA61FAC8E1D4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D2BDA87-90F7-4FC4-886F-D61E51808AB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF3CCB05-81F7-4FFC-AA88-1B6A48F32BDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>447BA2A6-AAE1-4EF5-9AB6-38BD69FB81F3</key>
		<array/>
		<key>555C94EC-EFC7-4403-9945-900594BA2FE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83A8A9DE-E41C-451C-BB44-99E564615683</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83D4CD86-AFCE-4379-8CD7-03C43D128678</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2CDBAC8-6AB7-4F55-814A-9AC99F9A102C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>853D9928-072D-43D8-8EBF-EBE2CC0316E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>555C94EC-EFC7-4403-9945-900594BA2FE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A500D23-4715-4736-8743-E11A08563D28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C43BF98B-6221-4598-A1A0-E307E9217FCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92A65387-14B5-4B1F-B1A5-CF7D727A750C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF54581A-7BF8-496A-AD23-84474CFAA601</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B52AACB2-80F3-4602-A48B-6A707717F6DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2FCEDCE2-D08E-4234-915C-440E2D97A7FE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA00E772-B4BF-4051-A8D2-2A0EA93E2D8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED87AF3A-49FA-4316-A45A-849235D8944F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E07A44CE-8A04-401D-876F-D0426C729AA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F98EE783-8286-4763-B6F5-A34D6D520C03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED87AF3A-49FA-4316-A45A-849235D8944F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>074D2B6E-6290-42E8-949B-78A2AD29E1CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F98EE783-8286-4763-B6F5-A34D6D520C03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>447BA2A6-AAE1-4EF5-9AB6-38BD69FB81F3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧ View contact</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F72DC987-2D4E-4362-9A9F-2C9E3C5AEF3A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA00E772-B4BF-4051-A8D2-2A0EA93E2D8B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37FDEA91-828D-4FF0-9E41-05B2AE1DAED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FF54581A-7BF8-496A-AD23-84474CFAA601</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>853D9928-072D-43D8-8EBF-EBE2CC0316E1</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Todd Clarke</string>
	<key>description</key>
	<string>The mpost simple CRM ever created</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Simple CRM</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>Esc to exit ∙ ⌘+O to open file</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>447BA2A6-AAE1-4EF5-9AB6-38BD69FB81F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/open_contacts.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F72DC987-2D4E-4362-9A9F-2C9E3C5AEF3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:add_contact}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/specify_contact.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start typing to add new contact</string>
				<key>title</key>
				<string>Add new contact</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8A500D23-4715-4736-8743-E11A08563D28</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/add_contact.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C43BF98B-6221-4598-A1A0-E307E9217FCD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/update_contacts.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>074D2B6E-6290-42E8-949B-78A2AD29E1CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:replace</string>
				<key>subtext</key>
				<string>Format: Current value | New value</string>
				<key>text</key>
				<string>Choose what to replace</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DA00E772-B4BF-4051-A8D2-2A0EA93E2D8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{var:query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ED87AF3A-49FA-4316-A45A-849235D8944F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/remove_saved_search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A4280409-DA48-4C05-8A73-5688E2A9F94A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>@active</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E07A44CE-8A04-401D-876F-D0426C729AA8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/save_search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37FDEA91-828D-4FF0-9E41-05B2AE1DAED8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/open_contact_file.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF54581A-7BF8-496A-AD23-84474CFAA601</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:saved_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_saved_searches.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Run a previously saved search query</string>
				<key>title</key>
				<string>Run a saved search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>189F166B-CDC9-45AD-8F62-9A8B1BE9FFA8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:list_contacts}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_contacts.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List all contacts from the files on disk</string>
				<key>title</key>
				<string>List contacts</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F98EE783-8286-4763-B6F5-A34D6D520C03</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>555C94EC-EFC7-4403-9945-900594BA2FE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>83A8A9DE-E41C-451C-BB44-99E564615683</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/export_contacts.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>853D9928-072D-43D8-8EBF-EBE2CC0316E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:rename</string>
				<key>subtext</key>
				<string>Format: Current value | New value</string>
				<key>text</key>
				<string>Choose what to replace</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>13A07A42-59B2-41D3-8882-AA61FAC8E1D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/rename_search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF3CCB05-81F7-4FFC-AA88-1B6A48F32BDD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{var:query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2D2BDA87-90F7-4FC4-886F-D61E51808AB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/clear_recents.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B52AACB2-80F3-4602-A48B-6A707717F6DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:list_recent}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_recent_contacts.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List contacts recently opened</string>
				<key>title</key>
				<string>List recent contacts</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>92A65387-14B5-4B1F-B1A5-CF7D727A750C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/clear_recent.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FCEDCE2-D08E-4234-915C-440E2D97A7FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:run_util}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import json
import sys

query = sys.argv[1].lower() if len(sys.argv) &gt; 1 else ""

items = [
    {"title": "Open workflow folder", "arg": "open_workflow"},
    {"title": "Open data folder", "arg": "open_data"},
    {"title": "Export contacts", "arg": "export_contacts.py"},
    {"title": "Import contacts", "arg": "import_contacts.py"},
	{"title": "Backup contact files", "arg": "backup_contacts.py"},
	{"title": "View documentation", "arg": "view_readme"}
]

filtered = [item for item in items if query in item["title"].lower()]

print(json.dumps({"items": filtered}))
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Various utilities for this workflow</string>
				<key>title</key>
				<string>Run utility command</string>
				<key>type</key>
				<integer>9</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83D4CD86-AFCE-4379-8CD7-03C43D128678</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"

if [ "$1" = "open_workflow" ]; then
	open "$alfred_workflow_directory"

elif [ "$1" = "open_data" ]; then
	open "$alfred_workflow_data"

elif [ "$1" = "view_readme" ]; then
	open "readme.md"

else
	python3 scripts/${1}
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2CDBAC8-6AB7-4F55-814A-9AC99F9A102C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:show_icons}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/show_icons.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Specify a tag to show the icon you like</string>
				<key>title</key>
				<string>Show supported icons</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>69453C75-DF71-4A33-9935-61E09BC733AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Simple CRM

### World's simplest, fastest, most usable CRM — via Alfred

**The problem with most CRMs...**

✘  Hassle to load an app  
✘  Too long to log in online  
✘  Too slow to add new contacts  
✘  Too cumbersome to find existing ones  
✘  And more features than most users need

**But with Simple CRM...** 

**✓**  Load immediately, thanks to Alfred  
**✓**  Add new contacts — blazingly simple &amp; fast  
**✓**  Find them — even faster  
**✓**  Use tags to filter in infinite ways  
**✓**  Use your favorite editor for all contact files  
**✓**  Save any search using the `enter` key  
**✓**  Smart Icons for lead status &amp; more *(completely configurable)*

**More...**

**Simple CRM is a (super) lightweight, workflow built around files**. You open &amp; edit these files with your favorite editor. This workflow makes it easy &amp; fast to define, add, tag, find &amp;  view contacts. And has tools to import, export &amp; backup all your contacts. 

Simple CRM is built for power users, freelancers &amp; anyone wanting less — to do more.

Give it a shot. Tell me what ya like. And what sucks. I'll make it un-suck.

▸ [Download latest workflow](https://github.com/modrocko/simple-crm/releases/latest)

## Usage

### Set up

Got existing contacts in your current CRM? Cool. Import them into Simple CRM.

- Export contacts to a .csv file
- Define your fields in Simple CRM via `Configure Workflow`❗
- Set  `CRM path` for all contact files
- Set the `import` &amp; `export` paths &amp; `export` fields
- Select `Import contacts` from Simple CRM `utilities` 

Voila. A new file created for each contact.

❗**Two fields are required when defining your custom fields:**

(1) `Name` consists of full name &amp; and must be in the 1st position

(2) `Lead Status` is used to show all the icons for this field

### Tags for `Lead Status`

**Tags provide mucho power to categorize your leads.** They save you from having to create &amp; complete too many fields too. And making search *real* easy. And fast! [See more about tags &amp; icons](#tags-and-icons-for-lead-status).

## Main workflows

![](assets/crm.png)  

### ▸ Add new contact

Adding contacts is as simple as it gets. Start typing to add a new contact, using a subset of fields defined in `Configure Workflow`. And informing you which field you're currently entering *(in CAPs)*. Fill in any or all fields.


![](assets/crma.png) 

&lt;kbd&gt;↵&lt;/kbd&gt;  To create new contact file in your CRM folder

&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To create new contact file — then open for further editing

### ▸ List &amp; Search contacts

Imagine finding *any contact* in seconds. And finding *a set of contacts* in few seconds more. Simple CRM was built for this.

#### List Contacts

List all contacts, ready for filtering.

![](assets/crml.png)   

&lt;kbd&gt;↵&lt;/kbd&gt; To open selected contact in your editor

&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To export contacts into .csv for all filtered contacts

&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To view contact (then select &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;O&lt;/kbd&gt; to open/edit contact)

#### Search contacts

Combine tags or any search fields *(as defined in `Configure Workflow`)* to filter rows — using basic AND/OR logic. This is the most powerful feature in Simple CRM. [See more filtering examples &amp; rules](#Search-Filter-Rules).

![](assets/crml1.png)   

![](assets/crml2.png)   

![](assets/crml3.png)     

#### For summary row

&lt;kbd&gt;↵&lt;/kbd&gt; To save currently applied filtering as a `saved search`

&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To perform bulk update for all filtered contacts

&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To open contact files for all filtered contacts

&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To export contacts into .csv for all filtered contacts

#### For all contact rows

&lt;kbd&gt;↵&lt;/kbd&gt; To open contact file for currently select contact

&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To view contact (then select &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;O&lt;/kbd&gt; to open/edit contact)

#### Universal Actions

Key Universal actions include: 

**For 1st row:** 

`Search in Finder` - Show all currently filtered contacts in Finder

**For all contact rows**

`View in Alfred` | `Open`  | `Reveal in Finder`  | `Delete`

### ▸ Run a saved search

Save any filtered contacts from above to a saved search.

![](assets/crms.png)    

&lt;kbd&gt;↵&lt;/kbd&gt; To run this search

&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To remove this search

&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⌥&lt;/kbd&gt; To rename this search

### ▸ List recent contacts

List the most recently opened contact files.

![](assets/crmr.png)    

#### For summary row

&lt;kbd&gt;↵&lt;/kbd&gt; To clear this recents list

#### For all contact rows

&lt;kbd&gt;↵&lt;/kbd&gt; To open selected contact file

&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↵&lt;/kbd&gt; To clear selected contact from this recents list

### Tags and Icons for Lead Status

**Symbols allow for quick recognition for all contact rows.** I created out-of-the-box icons below for the specified tags. This is completely configurable by adding or changing icons in the `/icons` folder. The workflow will automatically assign tags with icons *(if they exist)*, for example: `@meeting` will display `meeting.png`.

**Combine tags to tell the story for each contact:**  ex. `@hot @lead` ***Note:** The 1st tag listed determines the icon to be used in the field `Lead Status`.* Use any tag you think of as you go — there are no limitations.

**A list of tags &amp; associated icons below** —with more coming!

 `@active` `@awaitingpayment` `@cold` `@deciding` `@followup` `@hot` `@lead` `@loss` `@meeting` `@past` `@meh` `@pause` `@ping` `@reminder` `@waiting` `@won`

![](assets/icons.png)  

❗**Note:** You must define the field, `Lead Status` in `Configure Workflow`  to display any icons for contacts.

### Search Filter Rules

**AND by default**  
 `@lead @followup @active` → matches items with all 3 tags  

**OR logic**  
 `@hot OR @cold OR @pause` → matches any of the tags  

**NOT logic**  
 `@ping OR @waiting !@past` → matches ping or waiting, but excludes past  
 `@lead -@loss` → matches @lead but excludes @loss  

**Phrases**  
 `"awaiting payment" OR @reminder` → matches the exact phrase or @reminder  

**Field match**  
 `email:gmail.com` → matches items where email field contains `gmail.com`  
 `name:"Jane Doe"` → matches items where name field is exactly `"Jane Doe"`  

**Has field**  
 `has:phone` → matches items where phone field is not empty  
 `!has:company` → matches items with an empty or missing company field  

All searches are case-insensitive.

### Utilities

Some useful tools to manage your contact files. And to peek into your data and workflow folders.

![](assets/crmu.png)</string>
	<key>uidata</key>
	<dict>
		<key>074D2B6E-6290-42E8-949B-78A2AD29E1CB</key>
		<dict>
			<key>note</key>
			<string>update contacts</string>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>13A07A42-59B2-41D3-8882-AA61FAC8E1D4</key>
		<dict>
			<key>note</key>
			<string>specify rename</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>189F166B-CDC9-45AD-8F62-9A8B1BE9FFA8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list saved searches</string>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>2D2BDA87-90F7-4FC4-886F-D61E51808AB1</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>2FCEDCE2-D08E-4234-915C-440E2D97A7FE</key>
		<dict>
			<key>note</key>
			<string>clear recent</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>1325</real>
		</dict>
		<key>37FDEA91-828D-4FF0-9E41-05B2AE1DAED8</key>
		<dict>
			<key>note</key>
			<string>save search</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>447BA2A6-AAE1-4EF5-9AB6-38BD69FB81F3</key>
		<dict>
			<key>note</key>
			<string>view contact</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>555C94EC-EFC7-4403-9945-900594BA2FE1</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>69453C75-DF71-4A33-9935-61E09BC733AA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>show supported icons</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>1655</real>
		</dict>
		<key>83A8A9DE-E41C-451C-BB44-99E564615683</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>83D4CD86-AFCE-4379-8CD7-03C43D128678</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>invoke utils</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>1485</real>
		</dict>
		<key>853D9928-072D-43D8-8EBF-EBE2CC0316E1</key>
		<dict>
			<key>note</key>
			<string>export contacts</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>8A500D23-4715-4736-8743-E11A08563D28</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>specify contact</string>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>92A65387-14B5-4B1F-B1A5-CF7D727A750C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list recent contacts</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>1250</real>
		</dict>
		<key>A4280409-DA48-4C05-8A73-5688E2A9F94A</key>
		<dict>
			<key>note</key>
			<string>removed saved search</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>B2CDBAC8-6AB7-4F55-814A-9AC99F9A102C</key>
		<dict>
			<key>note</key>
			<string>run utils</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>1485</real>
		</dict>
		<key>B52AACB2-80F3-4602-A48B-6A707717F6DC</key>
		<dict>
			<key>note</key>
			<string>clear recents</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>1165</real>
		</dict>
		<key>C43BF98B-6221-4598-A1A0-E307E9217FCD</key>
		<dict>
			<key>note</key>
			<string>add contact</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>CF3CCB05-81F7-4FFC-AA88-1B6A48F32BDD</key>
		<dict>
			<key>note</key>
			<string>rename search</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>DA00E772-B4BF-4051-A8D2-2A0EA93E2D8B</key>
		<dict>
			<key>note</key>
			<string>specify replacement</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>E07A44CE-8A04-401D-876F-D0426C729AA8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>ED87AF3A-49FA-4316-A45A-849235D8944F</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>F72DC987-2D4E-4362-9A9F-2C9E3C5AEF3A</key>
		<dict>
			<key>note</key>
			<string>open contacts</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>F98EE783-8286-4763-B6F5-A34D6D520C03</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list contacts</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>FF54581A-7BF8-496A-AD23-84474CFAA601</key>
		<dict>
			<key>note</key>
			<string>open contact file</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Documents/simple-crm</string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>~/Documents/simple-crm</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>This is where your CRM files will live.</string>
			<key>label</key>
			<string>CRM path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>contact_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Documents/simple-crm/_backups</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Documents/simple-crm/_backups</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Location for backups of all contact files</string>
			<key>label</key>
			<string>Backup path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>backup_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Name, Company, Email, Phone, Website, Location, Lead Status, Lead Source, Lead Thread, Referred by, Next Action, Next Action Date, Note, Questionnaire, Log</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>All fields for importing &amp; creating new contacts</string>
			<key>label</key>
			<string>All fields</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>file_template</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Name, Company, Lead Status, Note, Next Action</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Fields to search on &amp; display in subtitle when listing contacts</string>
			<key>label</key>
			<string>Display &amp; search fields</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>display_fields</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Name, Company, Lead Status, Email, Phone</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Fields to populate when adding a new contact</string>
			<key>label</key>
			<string>New contact fields</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>add_fields</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Default is 1st field defined</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>List of fields to use when creating a new contact or importing contacts (use comma-separated for multiple fields)</string>
			<key>label</key>
			<string>File name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>filename_fields</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Default is space</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Separator to be used for filename between words</string>
			<key>label</key>
			<string>File name separator</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>filename_separator</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Name, Company, Email, Phone, Website, Location, Lead Status, Lead Source, Lead Thread, Referred by, Next Action, Next Action Date, Note, Questionnaire</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Specify the fields to export all contacts into a .csv file</string>
			<key>label</key>
			<string>Export fields</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>export_fields</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads/crm_import.csv</string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Full path &amp; file for import file</string>
			<key>label</key>
			<string>Import path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>import_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads/crm_export.csv</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Downloads/crm_export.csv</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Full path &amp; file for exported csv file</string>
			<key>label</key>
			<string>Export path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>export_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>.txt</string>
				<key>placeholder</key>
				<string>.txt</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Specify the file extension to use for contact files (ex: .txt , .md, etc)</string>
			<key>label</key>
			<string>File extension</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>file_extension</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>crma</string>
				<key>placeholder</key>
				<string>crma</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add a new contact &amp; resulting file to the CRM</string>
			<key>label</key>
			<string>Add a contact</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>add_contact</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>crml</string>
				<key>placeholder</key>
				<string>crml</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>List &amp; search all contacts</string>
			<key>label</key>
			<string>List contacts</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>list_contacts</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>crmss</string>
				<key>placeholder</key>
				<string>crmss</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Save a search to run later on</string>
			<key>label</key>
			<string>Saved search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>saved_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>crmr</string>
				<key>placeholder</key>
				<string>crmr</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>List recently opended contact files</string>
			<key>label</key>
			<string>List recent contacts</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>list_recent</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>:crmu</string>
				<key>placeholder</key>
				<string>:crmu</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Run a utility command</string>
			<key>label</key>
			<string>Utility command</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>run_util</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>:crmui</string>
				<key>placeholder</key>
				<string>:crmui</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>See the list of tags associated with icons</string>
			<key>label</key>
			<string>Show supported icons</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>show_icons</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>7</string>
				<key>placeholder</key>
				<string>7</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Max number of row count for saved search results (new rows will replace oldest rows)</string>
			<key>label</key>
			<string>Saved search count</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>saved_search_count</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>12</string>
				<key>placeholder</key>
				<string>12</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set number of max items to use for viewing recently opened contacts</string>
			<key>label</key>
			<string>Recent amount</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>recent</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.7.6</string>
	<key>webaddress</key>
	<string>toddsgotapen.com</string>
</dict>
</plist>
