<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backup_folder</key>
	<string>~/Documents/01 archive/my backups/crm backups</string>
	<key>contact_folder</key>
	<string>~/Documents/00 now/my crm</string>
	<key>export_fields</key>
	<string>Name, Company, Lead Status, Lead Source, Next Action, Next Action Date, Note</string>
	<key>file_extension</key>
	<string>.md</string>
	<key>saved_search</key>
	<string>crms</string>
</dict>
</plist>
